

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



table{
   width: 100%;
}

td {
   border: .25px solid;
}

td input {
   width: 100%;
}

.even td, .even input{
   background-color: #c7f1f2;
}

.even input, .odd input {
   border: 0px;
}

tr[id$="=b"] {
    border: 1px solid;
    border-top: 0px;
}

tr[id$="=a"] {
    border: 1px solid;
    border-bottom: 0px;
}

tr[id$="=b"] td {
    padding: 15px 0px 15px 0px;
}

body, .form-control{
   font-size: 18px;
}














